.boot1{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.boot2{
    font-family:  "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.portfolio{
    color: white;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 18px;
    /* background-color: white; */
    /* border: 1px solid rgb(26 188 156); */
    
}
.portfolio:hover{
    color: rgb(26 188 156);
}

   .box{
    font-size: 24px;
    margin-bottom: 7rem;
    color: white;
   }
   .box:hover{
    color: black; 
    background-color:white;
   }
   .photo {
    position: relative;
    /* position: absolute; */
    /* width: 100%; */
    /* max-width: 400px; */
   }
  .image {
    display: block;
    border-radius: 10px;
    width: 100%;
    height: auto;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 94.5%;
    margin-left: 12px;
    border-radius: 10px;
    opacity: 0;
    background-color: rgb(26 188 156) ;
  }
  
  .photo:hover .overlay {
    opacity: 0.8;
  }
  
  #plus {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* -ms-transform: translate(-50%, -50%); */
    text-align: center;
  }
  #icon{
    font-size: 30px;
    color: white;
    border: 2px solid white;
    padding:11px;
    margin: 0px 3px;
    border-radius: 90px; 
    /* position: fixed; */
    /* width: 100%; */
   }
   #icon:hover{
    background-color: white;
    color: black;
    /* border: none; */
   }
   #mark{
    font-size: 25px;
    color: white;
    align-self: center;
    /* padding-top: 10px; */
   }
   .modal-header{
    border: 0;
   }
   .modal-footer{
    border: 0;
   }
   .bx-x:before{
    padding-top: 20px !important;
   }
   .navbar-toggler{
    border: none;
  }
  .navbar-toggler:focus{
    box-shadow: none;
  }
  
   @media screen and (max-width:1024px){
    .footer{
      padding-left: 2rem !important;
    }
    .overlay{
      width: 93% !important;
    }
    .location{
      font-size: 24px !important;
    }
    .john{
      margin-right: 3rem !important;
    }
    .around{
      margin: 0px !important;
      font-size: 24px !important;
    }
     .web{
      margin-left: 0px !important;
     }
     #icon{
      margin:  1rem 0px !important;
     }
     .about{
      margin: 0px !important;
      font-size: 24px !important;
     }
   }
   @media screen and (max-width:768px){
    /* .portfolio{
      display: none;
    } */
    .overlay{
      width: 93.5% !important;
    }
    .start{
      font-size: 44px !important;
    }
    .form{
      font-size: 38px !important;
    }
    .para1{
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
    .footer{
      /* padding-left: 2rem !important; */
    }
    .location{
      margin-left: 14rem !important;
    }
    .john{
      padding: 15px 10rem 15px 14rem !important;
      margin-bottom: 0px !important;
    }
    .around{
      padding-left: 13rem !important;
      padding-top: 2rem !important;
    }
    .web{
      padding-left: 13.5rem !important;
    }
    .about{
      padding-left: 9rem !important;
      padding-top: 3rem !important;
    }
    .free{
      padding-left: 0px !important;
    }
  }
  @media screen and (max-width:425px){
    .head{
      font-size: 23px !important;
      padding-left: 8px !important;
    }
    .overlay{
      width: 94% !important;
    }
    .location{
      margin-left: 3rem !important;
    }
    .john{
      /* padding: -9px 10rem 15px 6rem !important; */
      /* padding: -1px  8rem!important; */
      padding: 15px 1rem 15px 2.5rem !important;
    }
    .around{
      padding-left: 2.5rem !important;
    }
    .web{
      padding-left: 2.5rem !important;
    }
    .about{
      padding-left: 2rem !important;
    }
  }
  @media screen and (max-width:375px){
    .overlay{
      width: 93.5% !important;
    }
    .location{
      margin-left: 1.5rem !important;
    }
    .john{
      padding-left:  0px !important;
      margin-left: 0px !important;
      margin-right: 0px !important;
      padding-right: 0px !important;
    }
    .around{
      padding-left: 1rem !important;
    }
    #icon{
      padding: 8px !important;
      margin-top:  20px !important;

    }
    .web{
      padding-left: 21px !important;
    }
    .about{
      padding-left: 0.5rem !important;
    }
  }
  @media screen and (max-width:320px){
    .overlay{
      width: 92% !important;
    }
    .line{
      max-width: 5rem !important;
    }
    .font{
      font-size: 36px !important;
    }
    .location{
      margin-left: 0px !important;
      font-size: 20px !important;
    }
    .around{
      padding-left: 5px !important;
      font-size: 20px !important;
    }
    #icon{
      padding: 6px !important;
      font-size: 25px !important;
    }
    .web{
      padding-left: 2px !important;
    }
    .webicons{
      margin-left: 0px !important;
    }
    .about{
      padding-left: 0px !important;
      font-size: 20px !important;
    }
    
    
   
  }

